<div class="user-info">
  <div class="avatar"></div>
  <span class="nickname">Tenn Chio</span>
</div>

<div class="nav-list">
  <ul class="list-group list-group-flush">
    <li class="list-group-item nav-item" id="profile-center">
      <i class="ic-profile"></i>
      <span>个人中心</span>
    </li>
    <li class="list-group-item nav-item" id="mine-video">
      <i class="ic-video"></i>
      <span>我的视频</span>
    </li>
    <li class="list-group-item nav-item" id="mine-bought">
      <i class="ic-cart"></i>
      <span>已购专栏</span>
    </li>
    <li class="list-group-item nav-item" id="watch-history">
      <i class="ic-history"></i>
      <span>观看历史</span>
    </li>
    <li class="list-group-item nav-item" id="mine-collection">
      <i class="ic-star"></i>
      <span>我的收藏</span>
    </li>
    <li class="list-group-item nav-item" id="message-center">
      <i class="ic-message"></i>
      <span>消息中心</span>
    </li>
  </ul>
</div>

<div class="exit">
  <button type="button" class="btn">
    <i class="ic-exit"></i>
  </button>
</div>
<div class="copyright">
  <span>© chioio 版权所有。</span>
</div>